* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: blueviolet;
}

.form {
    max-width: 1000px;
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding: 20px;
    color: white;
    flex-direction: column;
    box-shadow: 2px 3px 13px 6px rgba(255, 255, 255, 0.75);
}
.cont {
    margin-bottom: 25px;
}

.contt1 {
    margin-bottom: 25px;
}

input, select {
    margin-bottom: 25px;
  
}

.button {
    width: 100%;
}

textarea {
    margin-top: -10px;
    resize: none;
}

.genderr {
    margin-top: 25px;
    margin-bottom: 3px;
}

.table {
    margin-top: 150px;
}

.table {
    width: 100%;
    background-color: white;
}

i {
    cursor: pointer;
}